@model eCommerce.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h1 class="h4 m-0">Detalles del Producto</h1>
        </div>
        <div class="card-body">
            <h4 class="text-muted">Información del Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-9">
                    $@Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Stock) unidades
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">
                <i class="bi bi-pencil-square"></i> Editar
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
</div>

